@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>NFC Tag Locator</h1>
        <p class="lead">Near Field Communication (NFC) Tag Locator Application is designed to let you locate business's that
            utilise NFC type payments.
        </p>
        <p><a href="http://asp.net" class="btn btn-default btn-lg">Locate Tag &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>NFC History</h2>
        <p>Learn about how Near Field Communictaion has progressed over the past couple of years.</p>
        <script id="feed-1426097293717516" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fwww.mobilepaymentstoday.com%2Frss%2F&limit=3&showicon=true&type=js&id=1426097293717516"></script>
        @*<p><a class="btn btn-default" href="http://www.nearfieldcommunication.org/" target="_blank">NFC History &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>NFC News</h2>
        <p>All the latest news from the world of Near Field Communication.</p>
        <script id="feed-1426096088322228" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fwww.creditcards.com%2Fcredit-card-news%2Frss%2Frss-view.php%3Fid%3D20&limit=3&showicon=true&type=js&id=1426096088322228"></script>
        @*<p><a class="btn btn-default" href="http://www.nfcworld.com/" target="_blank">Latest News &raquo;</a></p>*@
    </div>

    @*<div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/nfcworld" data-widget-id="575734161253789697">Tweets by @@nfcworld</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

        </div>*@

    <div class="col-md-4">
        <h2>NFC Technology</h2>
        <p>Learn about the technology behind Near Field Communication.</p>
        @*<p><a class="btn btn-default" href="http://www.nearfieldcommunication.org/how-it-works.html" target="_blank">NFC Tech &raquo;</a></p>*@
    </div>
</div>
@*<p>@Html.ActionLink("^Back To Top^", "Index", "Home")</p>*@
@*<script id="feed-1426096088322228" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fwww.creditcards.com%2Fcredit-card-news%2Frss%2Frss-view.php%3Fid%3D20&limit=3&showicon=true&type=js&id=1426096088322228"></script>*@